nav {
    /* height: 100px; original height */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 18px;
    font-weight: bolder;
    min-width: 1000px;
}

.navbar-mid {
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.navbar-left {
    display: flex;
}

.links-auth {
    display: flex;
    width: 150px;
    justify-content:space-between;
    margin-right: 10px;
    margin-bottom: 12px;
}

.signup-button {
    height: 30px;
    width:72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    height: 30px;
    width:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-button:hover, .login-button:hover,
.create-button:hover, .navbar-itineraries-text:hover,
.navbar-add-icon:hover, .homepage-explore-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.create-button {
    margin-bottom: -15px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.navbar-itineraries-text {
    color: white;
    margin-top: 15px;
    margin-left: 15px;
}

.username-text {
    font-size: 16px;
}

.navbar-add-icon {
    margin-top: -16px;
    width: 45px;
    height: 45px;
}

.navbar-username-text {
    color: white;
    margin-bottom: -1px;
}

.navbar-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: -40px;
    margin-right: 20px;
}

.username-text-container {
    margin-bottom: 10px;
}

.navbar-profile-right {
    
}

.navbar-profile-right-container {
    margin-bottom: -10px;
}