.basic-info-form{
    display: flex;
    flex-direction: column;
}

.modal-background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(25,25,25,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    justify-content: center;
    display: flex;
}

.basic-info-modal-content {
    height: 170px;
    /* width: 25vw; */
    border-radius: 24px;
    position: fixed;
    top: 25vh;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

