.event-form-container {
   display: flex;
   justify-content: center;
}

.event-form-modal {
    background-color: grey;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}