.form-background {
    border: solid;
    width: 90%;
    left: 5%;
    height: 150vh;
    position: relative;
    justify-content: center;
    display: flex;
}

.event-form {
    border: solid;
    width: 80%;
    height: 300px;
    position: absolute;
    justify-content: center;
    display: flex;
    overflow: hidden;
    top: 50px;
}

.transportation-form {
    border: solid;
    width: 80%;
    height: 300px;
    position: absolute;
    justify-content: center;
    display: flex;
    overflow: hidden;
    top: 400px;
}

.living-form {
    border: solid;
    width: 80%;
    height: 300px;
    position: absolute;
    justify-content: center;
    display: flex;
    overflow: hidden;
    top: 750px;
}

hr {
    height: 0;
    width: 100%;
    top: 90px;
    position: absolute;
}

.event-start-time {
    position: absolute;
    left: 10%;
    top: 35%;
}

.event-end-time {
    position: absolute;
    left: 10%;
    top: 65%;
}

.event-location {
    position: absolute;
    left: 30%;
    top: 35%;
}

.event-cost {
    position: absolute;
    left: 30%;
    top: 65%;
}