.edit-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form-header-text {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
}

.itinerary-view-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 300;
    width: 125px;
    height: 30px;
    background-color: rgb(233, 233, 233);
}

.itinerary-delete-button-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 300;
    width: 125px;
    height: 30px;
    color: white;
    background-color: rgb(248, 136, 136);
    cursor: pointer;
}

/* --------- FORM CONTENTS --------- */
.edit-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-info {
    /* border: 1px solid rgb(233, 233, 233); */
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-info-header {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 10px;
}

.basic-info-header-text {
    font-weight: 600;
    font-size: 18px;
    /* margin-bottom: 3px; */
    margin-right: 10px;
}

.itinerary-details-line {
    width: 60vw;
    /* color: gray; */
    background-color: rgb(171, 166, 166);
    height: 1px;
    
}

.basic-info-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-info-details-field {
    margin-bottom: 4px;
}

.basic-info-title {
    font-size: 14px;
    font-weight: 300;
}
.edit-itinerary-basic-info-button{
    margin-bottom: 5px;
}

.living-form-box, .transportation-form-box
 {
    /* border: 1px solid rgb(233, 233, 233); */
    margin: 30px;
}

.event-form-box {
    margin: 30px;
}