.edit-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form-header-text {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
}

.itinerary-view-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 300;
    width: 125px;
    height: 30px;
    background-color: rgb(233, 233, 233);
}

.edit-contents {
    display: flex;
    flex-direction: column;
}

.basic-info {
    border: 1px solid rgb(233, 233, 233);
    margin: 30px;
}

.event-form-box, .living-form-box, .transportation-form-box
 {
    border: 1px solid rgb(233, 233, 233);
    margin: 30px;
}