.profile-background {
    padding-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-info-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid rgb(168, 216, 250); */
    background-color: rgba(25,25,25,.1);
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 16px;
}

.pic-div {
    border: none;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.user-img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    display: flex;
    margin-left: 25px;
    /* align-items: center; */
    flex-direction: column;
}

.user-bio {
    border: none;
    justify-content: center;
    margin-bottom: 20px;
    /* padding-bottom: 5vh; */
}

.user-bio-username {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.user-bio-line {
    background-color: #847e7e;
    height: 1px;
}

.user-bio-title {
    font-weight: 600;
    font-style: italic;
}

.header-display {
    display: flex;
    justify-content: center;
    position: absolute;
}

.user-bio-edit-button {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.filter-button {
    margin-top: 5px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    height: 33px;
    width: 160px;
    font-size: 16px;
  }

  .filter-button.active {
    background-color:   #847e7e;;
    color: white;
  }

.profile-line {
    width: 80vw;
    /* color: rgb(171, 166, 166); */
    background-color: rgb(157, 151, 151);
    height: 2px;
    margin-top: 25px;
    margin-bottom: 20px;
}

