.itinerary-index-page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.itinerary-index-left {
    width: 200px;
    height: 100vh;
    border-right: 1px solid rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.index-locations-title {
    /* position: relative; */
    /* top: 50px; */
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.index-locations {
    
}
.index-location-text {
    margin-left: 30px;
    margin-bottom: 10px;
}


.itinerary-index {
    margin: 50px;
    height: 100%;
    display: flex;
    background-color: lightcyan;
}

.itinerary-index-item {
    margin: 10px;
    width: 250px;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.itinerary-index-image {
    width: 240px;
    height: 240px;
    background-color: lightgray;
    overflow: hidden;
    /* display: flex; */
    /* align-items: center; */
}

.image {
    height: 240px;
    width: auto;
    
}

.index-item-details {
    display: flex;
    flex-direction: column;
}

.index-item-author {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 4px;
    font-weight: 300;
}

.index-item-title {
    font-weight: 500;
    margin-bottom: 4px;
}

.index-item-description {
    font-size: 14px;
    text-indent: 4%;
}