.event-form-box, .living-form-box, .transportation-form-box
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-form-box-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.event-form-header-text {
    font-weight: 600;
    font-size: 18px;
    /* margin-right: 10px; */
}

.event-form-add-button {
    cursor: pointer;
    margin-left: 5px;
}

.event-days-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 0px;
}

/* --------- EVENT-DATE-BOX styling here --------- */
.event-date-box, .living-date-box, .transportation-date-box {
    border: 1px solid rgb(190, 187, 187);
    padding: 8px;
    margin-right: 8px;
    border-radius: 8px;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(25,25,25,.05);
}

.event-date-box-header, .living-date-box-header, .transportation-date-box-header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.timeline-event-edit-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.timeline-event-delete-button {
    width: 19px;
    height: 19px;
    fill: #9c9696;
}

.timeline-event-edit-button, .timeline-event-delete-button {
    cursor: pointer;
}


/* --------- EVENT-FORM-MODAL styling here --------- */
.add-event-modal-content {
    /* height: 320px; */
    width: 350px;
    position: absolute;
    top: 25vh;
    background-color: white;
    text-align: center;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.event-modal-top-area {
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    /* position: relative;
    top: 10px;
    right: 15px; */
    justify-content: end;
    flex-direction: row;
}

.event-modal-close-button {
    position: relative;
    top: 12px;
    right: -150px;
    /* top: 10px;
    right: 15px; */
}

.event-modal-close-button:hover {
    cursor: pointer;
}

.event-form-modal-title {
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 18px;
}

.event-modal-input-label {
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 2px;
}

.event-modal-input-error {
    color: red;
    font-size: 12px;
    font-style: italic;
}

.timeline-form-input {
    margin-bottom: 3px;
    width: 270px;
    border-radius: 6px;
    border: 1px solid rgb(182, 177, 177);
    height: 20px;
}

.timeline-form-input-submit {
   width: 45px;
   text-align: center;
   width: 50px;
   height: 22px;
   border-radius: 8px;
   border: none;
   margin-top: 7px;
   margin-bottom: 15px;
}

.timeline-form-input-submit:hover {
    cursor: pointer;
}

.event-modal-input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}